body{
    font-family: 'Poppins', sans-serif;
}
.nav-heading{
    color: #3E3E3E;
    font-weight: bold;
    font-size: 22px;    
}
.custom-btn{
    background-color: #f496d262;
    width: 207px;
    
}
.custom-card{
    align-content: space-around;
    height: 480px;
    border-radius: 20px;
    background-color: #3F87F5;
    position: relative;
}
.badge-hot{
        right: 75%;

}

footer{
    background-color: #000000;
    height: 280px;
    color: rgb(255, 255, 255);
    

}
